html, body{
    padding: 0px;
    margin: 0px;
}

.banner{
    background-color: #191B32;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nocalc{
    color: #8CC8FF;
    font-family: 'Arial';
    font-weight: 700;
    font-size: 35px;
    line-height: 55px;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
}

.indicator{
    position: absolute;
    top: 0px;
    height: 78px;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(41, 139, 255, 0.25) 100%);
    border-bottom: 2px solid rgba(41, 139, 255, 0.7);
}

.indicator-home{
    width: 78px;
    left: 300px;
}

.indicator-first-year{
    width: 100px;
    left: 390px;
}

.menu a{
    text-decoration: none;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 23px;
    line-height: 55px;
    color: #76C3EF;
}

.search-bar{
    width: 145px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    border-radius: 50px;
}

.search-bar input{
    background-color: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px;
    font-size: 15px;
    width: 80px;
    color: white;
}

.search-bar input::placeholder{
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Arial';
    font-weight: 80;
    line-height: 55px;
}

.search-bar button svg{
    width: 18px;
}

.svg-search{
    fill-opacity: 0.7;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    top: 1px;
    padding-right: 11px;
}